In [69]:
pip install ratelimiter

Requirement already satisfied: ratelimiter in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (1.2.0.post0)
Note: you may need to restart the kernel to use updated packages.

In [70]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [71]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")

In [72]:
print(location.address)
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Champ de Mars, Quai Jacques Chirac, Quartier du Gros-Caillou, Paris 7e Arrondissement, Paris, Île-de-France, France métropolitaine, 75007, France
Latitude = 48.85614465, Longitude = 2.297820393322227

In [73]:

df = pd.read_csv("1.vendor.csv")
df.head()

,Vendor,Comments,Country,Country Text,Name 1,City,District,PO Box,Postal Code,Region,Region Text,Street,Address,Authorization Group,Created on,Created by,Account group
0,68001139,Please run for this record,GB,United Kingdom,ENERGY INSTITUTE,LONDON,NaN,NaN,W1G7AR,NaN,NaN,61 NEW CAVENDISH STREET,56950,NaN,38855,GBSIO0,YVND
1,68001272,Please run for this record,GB,United Kingdom,DEMATIC LIMITED,BANBURY,NaN,NaN,OX161QZ,OXF,Oxfordshire,BEAUMONT ROAD,57088,NaN,38855,GBSIO0,YVND
2,68001286,Please run for this record,GB,United Kingdom,BRITISH STANDARDS INSTITUTION,MILTON KEYNES,NaN,8000,MK14 6WW,NaN,NaN,MANAGEMENT RECEIPTS OFFICE,57103,NaN,38855,GBSIO0,YVND
3,68001310,Please run for this record,GB,United Kingdom,VEGA CONTROLS LIMITED,BURGESS HILL,NaN,NaN,RH159NF,WSX,West Sussex,UNIT F KENDAL HOUSE,57127,NaN,38855,GBSIO0,YVND
4,68001387,Please run for this record,GB,United Kingdom,INNOSPEC LIMITED,SOUTH WIRRAL,ELLESMERE PORT,NaN,CH654EY,NaN,NaN,OIL SITES ROAD,57204,NaN,38855,GBSIO0,YVND

In [74]:
#df['ADDRESS'] = df['COMPANY'] + " " + df['CITY'] + " " +  df['COUNTRY']
df['ADDRESS'] = df['Street'] + " " + df['City'] + " " +  df['Country Text']
df.head()

,Vendor,Comments,Country,Country Text,Name 1,City,District,PO Box,Postal Code,Region,Region Text,Street,Address,Authorization Group,Created on,Created by,Account group,ADDRESS
0,68001139,Please run for this record,GB,United Kingdom,ENERGY INSTITUTE,LONDON,NaN,NaN,W1G7AR,NaN,NaN,61 NEW CAVENDISH STREET,56950,NaN,38855,GBSIO0,YVND,61 NEW CAVENDISH STREET LONDON United Kingdom
1,68001272,Please run for this record,GB,United Kingdom,DEMATIC LIMITED,BANBURY,NaN,NaN,OX161QZ,OXF,Oxfordshire,BEAUMONT ROAD,57088,NaN,38855,GBSIO0,YVND,BEAUMONT ROAD BANBURY United Kingdom
2,68001286,Please run for this record,GB,United Kingdom,BRITISH STANDARDS INSTITUTION,MILTON KEYNES,NaN,8000,MK14 6WW,NaN,NaN,MANAGEMENT RECEIPTS OFFICE,57103,NaN,38855,GBSIO0,YVND,MANAGEMENT RECEIPTS OFFICE MILTON KEYNES Unite...
3,68001310,Please run for this record,GB,United Kingdom,VEGA CONTROLS LIMITED,BURGESS HILL,NaN,NaN,RH159NF,WSX,West Sussex,UNIT F KENDAL HOUSE,57127,NaN,38855,GBSIO0,YVND,UNIT F KENDAL HOUSE BURGESS HILL United Kingdom
4,68001387,Please run for this record,GB,United Kingdom,INNOSPEC LIMITED,SOUTH WIRRAL,ELLESMERE PORT,NaN,CH654EY,NaN,NaN,OIL SITES ROAD,57204,NaN,38855,GBSIO0,YVND,OIL SITES ROAD SOUTH WIRRAL United Kingdom

In [75]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
df['location'] = df['ADDRESS'].apply(geocode)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [76]:
df.head()

,Vendor,Comments,Country,Country Text,Name 1,City,District,PO Box,Postal Code,Region,Region Text,Street,Address,Authorization Group,Created on,Created by,Account group,ADDRESS,location,point
0,68001139,Please run for this record,GB,United Kingdom,ENERGY INSTITUTE,LONDON,NaN,NaN,W1G7AR,NaN,NaN,61 NEW CAVENDISH STREET,56950,NaN,38855,GBSIO0,YVND,61 NEW CAVENDISH STREET LONDON United Kingdom,"(Energy Institute, 61, New Cavendish Street, M...","(51.5197723, -0.146410873721238, 0.0)"
1,68001272,Please run for this record,GB,United Kingdom,DEMATIC LIMITED,BANBURY,NaN,NaN,OX161QZ,OXF,Oxfordshire,BEAUMONT ROAD,57088,NaN,38855,GBSIO0,YVND,BEAUMONT ROAD BANBURY United Kingdom,"(Beaumont Road, Ruscote, Banbury, Cherwell, Ox...","(52.0715604, -1.3441869, 0.0)"
2,68001286,Please run for this record,GB,United Kingdom,BRITISH STANDARDS INSTITUTION,MILTON KEYNES,NaN,8000,MK14 6WW,NaN,NaN,MANAGEMENT RECEIPTS OFFICE,57103,NaN,38855,GBSIO0,YVND,MANAGEMENT RECEIPTS OFFICE MILTON KEYNES Unite...,None,None
3,68001310,Please run for this record,GB,United Kingdom,VEGA CONTROLS LIMITED,BURGESS HILL,NaN,NaN,RH159NF,WSX,West Sussex,UNIT F KENDAL HOUSE,57127,NaN,38855,GBSIO0,YVND,UNIT F KENDAL HOUSE BURGESS HILL United Kingdom,None,None
4,68001387,Please run for this record,GB,United Kingdom,INNOSPEC LIMITED,SOUTH WIRRAL,ELLESMERE PORT,NaN,CH654EY,NaN,NaN,OIL SITES ROAD,57204,NaN,38855,GBSIO0,YVND,OIL SITES ROAD SOUTH WIRRAL United Kingdom,None,None

In [77]:

df['point'][0][0]

51.5197723

In [78]:
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)
df.head()

,Vendor,Comments,Country,Country Text,Name 1,City,District,PO Box,Postal Code,Region,...,Authorization Group,Created on,Created by,Account group,ADDRESS,location,point,latitude,longitude,altitude
0,68001139,Please run for this record,GB,United Kingdom,ENERGY INSTITUTE,LONDON,NaN,NaN,W1G7AR,NaN,...,NaN,38855,GBSIO0,YVND,61 NEW CAVENDISH STREET LONDON United Kingdom,"(Energy Institute, 61, New Cavendish Street, M...","(51.5197723, -0.146410873721238, 0.0)",51.519772,-0.146411,0.0
1,68001272,Please run for this record,GB,United Kingdom,DEMATIC LIMITED,BANBURY,NaN,NaN,OX161QZ,OXF,...,NaN,38855,GBSIO0,YVND,BEAUMONT ROAD BANBURY United Kingdom,"(Beaumont Road, Ruscote, Banbury, Cherwell, Ox...","(52.0715604, -1.3441869, 0.0)",52.071560,-1.344187,0.0
2,68001286,Please run for this record,GB,United Kingdom,BRITISH STANDARDS INSTITUTION,MILTON KEYNES,NaN,8000,MK14 6WW,NaN,...,NaN,38855,GBSIO0,YVND,MANAGEMENT RECEIPTS OFFICE MILTON KEYNES Unite...,None,None,NaN,NaN,NaN
3,68001310,Please run for this record,GB,United Kingdom,VEGA CONTROLS LIMITED,BURGESS HILL,NaN,NaN,RH159NF,WSX,...,NaN,38855,GBSIO0,YVND,UNIT F KENDAL HOUSE BURGESS HILL United Kingdom,None,None,NaN,NaN,NaN
4,68001387,Please run for this record,GB,United Kingdom,INNOSPEC LIMITED,SOUTH WIRRAL,ELLESMERE PORT,NaN,CH654EY,NaN,...,NaN,38855,GBSIO0,YVND,OIL SITES ROAD SOUTH WIRRAL United Kingdom,None,None,NaN,NaN,NaN

In [79]:
df.columns

Index(['Vendor', 'Comments', 'Country', 'Country Text', 'Name 1', 'City',
       'District', 'PO Box', 'Postal Code', 'Region', 'Region Text', 'Street',
       'Address', 'Authorization Group', 'Created on', 'Created by',
       'Account group', 'ADDRESS', 'location', 'point', 'latitude',
       'longitude', 'altitude'],
      dtype='object')

In [80]:
df = df.drop(['Comments','Address', 'Authorization Group', 'Created on', 'Created by'], axis=1)

In [81]:
df.head()

,Vendor,Country,Country Text,Name 1,City,District,PO Box,Postal Code,Region,Region Text,Street,Account group,ADDRESS,location,point,latitude,longitude,altitude
0,68001139,GB,United Kingdom,ENERGY INSTITUTE,LONDON,NaN,NaN,W1G7AR,NaN,NaN,61 NEW CAVENDISH STREET,YVND,61 NEW CAVENDISH STREET LONDON United Kingdom,"(Energy Institute, 61, New Cavendish Street, M...","(51.5197723, -0.146410873721238, 0.0)",51.519772,-0.146411,0.0
1,68001272,GB,United Kingdom,DEMATIC LIMITED,BANBURY,NaN,NaN,OX161QZ,OXF,Oxfordshire,BEAUMONT ROAD,YVND,BEAUMONT ROAD BANBURY United Kingdom,"(Beaumont Road, Ruscote, Banbury, Cherwell, Ox...","(52.0715604, -1.3441869, 0.0)",52.071560,-1.344187,0.0
2,68001286,GB,United Kingdom,BRITISH STANDARDS INSTITUTION,MILTON KEYNES,NaN,8000,MK14 6WW,NaN,NaN,MANAGEMENT RECEIPTS OFFICE,YVND,MANAGEMENT RECEIPTS OFFICE MILTON KEYNES Unite...,None,None,NaN,NaN,NaN
3,68001310,GB,United Kingdom,VEGA CONTROLS LIMITED,BURGESS HILL,NaN,NaN,RH159NF,WSX,West Sussex,UNIT F KENDAL HOUSE,YVND,UNIT F KENDAL HOUSE BURGESS HILL United Kingdom,None,None,NaN,NaN,NaN
4,68001387,GB,United Kingdom,INNOSPEC LIMITED,SOUTH WIRRAL,ELLESMERE PORT,NaN,CH654EY,NaN,NaN,OIL SITES ROAD,YVND,OIL SITES ROAD SOUTH WIRRAL United Kingdom,None,None,NaN,NaN,NaN

In [82]:
df.to_csv('2.vendor.csv')