In [25]:
pip install geopy

Requirement already satisfied: geopy in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd
from bingmaps.apiservices import LocationByAddress

In [27]:
df = pd.read_csv("data.csv",sep=',')

In [28]:
df.head()

,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude
0,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"1241, Boylston Street, Back Bay, Boston, Suffo...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0
1,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"Shell, 1975, Main Street, Tewksbury, Middlesex...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0
2,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"Shell, 190, Amherst Street, Ward 4, Nashua, Hi...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0
3,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"Waltham Street, Lexington, Middlesex County, M...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0
4,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"245, Eddy Road, Rimmon Heights, Manchester, Hi...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0

In [29]:
#df['query'] = df['COMPANY'] + " " + df['CITY'] + " " +  df['COUNTRY']
df['query'] = df['STREET_ADDRESS'] + " " + df['CITY'] + " " + df['STATE'] + " " + df['POSTAL_CODE'] + df['COUNTRY']
df.iloc[0:5, 8:9]

    latitude
0  42.345528
1  42.589597
2  42.774980
3  42.438160
4  43.000127

In [30]:
#remove duplicate addresses (new concat column) but keep first instance
df.drop_duplicates(subset ='query', keep ='first', inplace = True)

#print some useful info: row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

#print first rows as sample
df.head()

data row x columns is (12, 12)
data row count is 12

,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude,query
0,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"1241, Boylston Street, Back Bay, Boston, Suffo...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0,1241 BOYLSTON ST BOSTON Massachusetts 02215-35...
1,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"Shell, 1975, Main Street, Tewksbury, Middlesex...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0,1975 MAIN ST TEWKSBURY Massachusetts 01876-217...
2,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"Shell, 190, Amherst Street, Ward 4, Nashua, Hi...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0,190 AMHERST ST NASHUA New Hampshire 03064-1307USA
3,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"Waltham Street, Lexington, Middlesex County, M...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0,915 WALTHAM ST LEXINGTON Massachusetts 02421-8...
4,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"245, Eddy Road, Rimmon Heights, Manchester, Hi...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0,245 EDDY RD MANCHESTER New Hampshire 03102-323...

In [31]:
#create 2 new columns to store lat/long - initalise to null
df['location_lat'] = ""
df['location_long'] = ""
df['location_address'] = ""

#print first rows to sample
df.head()

,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude,query,location_lat,location_long,location_address
0,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"1241, Boylston Street, Back Bay, Boston, Suffo...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0,1241 BOYLSTON ST BOSTON Massachusetts 02215-35...,,,
1,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"Shell, 1975, Main Street, Tewksbury, Middlesex...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0,1975 MAIN ST TEWKSBURY Massachusetts 01876-217...,,,
2,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"Shell, 190, Amherst Street, Ward 4, Nashua, Hi...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0,190 AMHERST ST NASHUA New Hampshire 03064-1307USA,,,
3,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"Waltham Street, Lexington, Middlesex County, M...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0,915 WALTHAM ST LEXINGTON Massachusetts 02421-8...,,,
4,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"245, Eddy Road, Rimmon Heights, Manchester, Hi...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0,245 EDDY RD MANCHESTER New Hampshire 03102-323...,,,

In [32]:
from bingmaps.apiservices import LocationByAddress
key = 'Ag7D1tdmOwcx6yD-pPbNxdbiKDueh-QBlK4LfLGLvG4tlioOAMZNz3ZANFv6QxBh'

In [33]:
from bingmaps.apiservices import LocationByAddress
key = 'Ag7D1tdmOwcx6yD-pPbNxdbiKDueh-QBlK4LfLGLvG4tlioOAMZNz3ZANFv6QxBh'

for i in df.index:
    try:
        #tries fetch address from geopy
        location = LocationByAddress(df['query'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'location_lat'] = location.latitude
        df.loc[i,'location_long'] = location.longitude
        df.loc[i,'location_address'] = location.address
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'location_lat'] = ""
        df.loc[i,'location_long'] = ""
        df.loc[i,'location_address'] = ""

#print first rows as sample
df.head()

,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude,query,location_lat,location_long,location_address
0,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"1241, Boylston Street, Back Bay, Boston, Suffo...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0,1241 BOYLSTON ST BOSTON Massachusetts 02215-35...,,,
1,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"Shell, 1975, Main Street, Tewksbury, Middlesex...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0,1975 MAIN ST TEWKSBURY Massachusetts 01876-217...,,,
2,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"Shell, 190, Amherst Street, Ward 4, Nashua, Hi...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0,190 AMHERST ST NASHUA New Hampshire 03064-1307USA,,,
3,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"Waltham Street, Lexington, Middlesex County, M...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0,915 WALTHAM ST LEXINGTON Massachusetts 02421-8...,,,
4,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"245, Eddy Road, Rimmon Heights, Manchester, Hi...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0,245 EDDY RD MANCHESTER New Hampshire 03102-323...,,,

In [34]:
#write the contents thus far to new csv file
df.to_csv('geopy_data.csv')