In [80]:
pip install geopy

Requirement already satisfied: geopy in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [81]:
pip install bingmaps

Requirement already satisfied: bingmaps in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (0.3.7)
Requirement already satisfied: requests==2.9.1 in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (from bingmaps) (2.9.1)
Requirement already satisfied: xmltodict==0.10.1 in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (from bingmaps) (0.10.1)
Requirement already satisfied: marshmallow==2.6.0 in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (from bingmaps) (2.6.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
from geopy.geocoders import bing

In [83]:
import pandas as pd
from bingmaps.apiservices import LocationByAddress

In [84]:
df = pd.read_csv("data.csv",sep=',')

In [85]:
df.head()

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA

In [86]:
#df['query'] = df['COMPANY'] + " " + df['CITY'] + " " +  df['COUNTRY']
df['query'] = df['STREET_ADDRESS'] + ", " + df['CITY'] + ", " + df['STATE'] + ", " + df['POSTAL_CODE'] + ", " + df['COUNTRY']
df.iloc[0:5, 8:9]

                                               query
0  1241 BOYLSTON ST, BOSTON, Massachusetts, 02215...
1  1975 MAIN ST, TEWKSBURY, Massachusetts, 01876-...
2  190 AMHERST ST, NASHUA, New Hampshire, 03064-1...
3  915 WALTHAM ST, LEXINGTON, Massachusetts, 0242...
4  245 EDDY RD, MANCHESTER, New Hampshire, 03102-...

In [87]:
#remove duplicate addresses (new concat column) but keep first instance
df.drop_duplicates(subset ='query', keep ='first', inplace = True)

#print some useful info: row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

#print first rows as sample
df.head()

data row x columns is (12, 9)
data row count is 12

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,query
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,"1241 BOYLSTON ST, BOSTON, Massachusetts, 02215..."
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,"1975 MAIN ST, TEWKSBURY, Massachusetts, 01876-..."
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,"190 AMHERST ST, NASHUA, New Hampshire, 03064-1..."
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,"915 WALTHAM ST, LEXINGTON, Massachusetts, 0242..."
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,"245 EDDY RD, MANCHESTER, New Hampshire, 03102-..."

In [88]:
#drop columns we won't use
df = df.drop(columns=['GLOBAL_SITE_ID','SITE_NAME','SITE_TYPE','STREET_ADDRESS','CITY','STATE','POSTAL_CODE','COUNTRY'])
                 
#print row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

#print first rows as sample
df.head()

data row x columns is (12, 1)
data row count is 12

                                               query
0  1241 BOYLSTON ST, BOSTON, Massachusetts, 02215...
1  1975 MAIN ST, TEWKSBURY, Massachusetts, 01876-...
2  190 AMHERST ST, NASHUA, New Hampshire, 03064-1...
3  915 WALTHAM ST, LEXINGTON, Massachusetts, 0242...
4  245 EDDY RD, MANCHESTER, New Hampshire, 03102-...

In [89]:
#create 2 new columns to store lat/long - initalise to null
#df['location_lat'] = ""
#df['location_long'] = ""
#df['location_address'] = ""

#print first rows to sample
#df.head()

In [90]:
from bingmaps.apiservices import LocationByAddress
key = 'Ag7D1tdmOwcx6yD-pPbNxdbiKDueh-QBlK4LfLGLvG4tlioOAMZNz3ZANFv6QxBh'

for i in df.index:
    try:
        #tries fetch address from geopy
        location = LocationByAddress(df['query'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'location_lat'] = location.latitude
        df.loc[i,'location_long'] = location.longitude
        df.loc[i,'location_address'] = location.address
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'location_lat'] = ""
        df.loc[i,'location_long'] = ""
        df.loc[i,'location_address'] = ""

In [91]:
df.head()

,query,location_lat,location_long,location_address
0,"1241 BOYLSTON ST, BOSTON, Massachusetts, 02215...",,,
1,"1975 MAIN ST, TEWKSBURY, Massachusetts, 01876-...",,,
2,"190 AMHERST ST, NASHUA, New Hampshire, 03064-1...",,,
3,"915 WALTHAM ST, LEXINGTON, Massachusetts, 0242...",,,
4,"245 EDDY RD, MANCHESTER, New Hampshire, 03102-...",,,

In [92]:
#write the contents thus far to new csv file
df.to_csv('geopy_data1.csv')